<div class="container">
    <div class="row">
        <div class="col-lg">
            <form (ngSubmit)="addLecture()" [formGroup]="profForm">
                <div class="form-group">
                    <label for="title">Class</label>
                    <select name="ddClasses" id="ddClasses" [formControl]="profForm.controls['class']" class="browser-default custom-select">
                        <option *ngFor="let class of classes" value="{{class.id}}">{{class.class_name }} {{class.division}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Subject</label>
                    <select name="ddSubject" id="ddSubject" [formControl]="profForm.controls['subject']" class="browser-default custom-select">
                        <option *ngFor="let sub of subjects" value="{{sub.id}}">{{sub.sub_name }} </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Professor</label>
                    <select name="ddProfessor" id="ddProfessor" [formControl]="profForm.controls['professor']" class="browser-default custom-select">
                        <option *ngFor="let prof of professors" value="{{prof.id}}">{{prof.first_name }} {{prof.last_name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Date</label>
                    <input type="text" [formControl]="profForm.controls['lec_date']" ngbDatepicker #d="ngbDatepicker"/>
                    <button type="button" (click)="d.toggle()">Select</button>
                </div>
                <div class="form-group">
                    <label for="title">Time</label>
                    <select name="lec_time" id="lec_time" class="browser-default custom-select" [formControl]="profForm.controls['lec_start_time']">
                        <option *ngFor="let time of timeSlots" value="{{time}}">{{time}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>