<div class="container">
    <div class="row" *ngIf="authService.isAdmin()">
        <div class="col">
            <button type="button" class="col btn btn-primary" (click)="open(addProfModal,'prof')">Add Professor</button>
        </div>
        <div class="col">
            <button type="button" class="col btn btn-primary" (click)="open(addProfModal,'lec')">Add Lectures</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Filter By Professors :
            <select name="ddProfessor" id="ddProfessor" class="browser-default custom-select" (change)="filterByProf()" [(ngModel)]="selectedProf">
                <option value="all" selected>All</option>
                <option *ngFor="let prof of professors" value="{{prof.id}}">{{prof.first_name }} {{prof.last_name }}</option>
            </select>
        </div>
        <div class="col">
            <div class="col">
                Filter By Date :
            </div>
            <div class="col">
                <input type="text" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="filterByDate($event)" [(ngModel)]="selectedDate"/>
                <button type="button" (click)="d.toggle()">Select</button>
                <button type="button" (click)="filterByDate()">Clear</button>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h3>Time Table</h3>
            <table class="table">
                <tr>
                    <th>
                        Sr. No
                    </th>
                    <th>
                        Class
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Professor
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                </tr>
                <tr *ngFor="let lec of filteredLectures| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ;let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{lec.classes.class_name}} {{lec.classes.division}}
                    </td>
                    <td>
                        {{lec.subject.sub_name}}
                    </td>
                    <td>
                        {{lec.professor.first_name}} {{lec.professor.last_name}}
                    </td>
                    <td>
                        {{lec.lec_date}}
                    </td>
                    <td>
                        {{lec.lec_start_time}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- pagination -->
    <div class="row">
        <div class="col">
            <ngb-pagination [collectionSize]="filteredLectures.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
                [boundaryLinks]="true"></ngb-pagination>
        </div>
        <div class="col">
            <select style="width: auto" name="pageSize" [(ngModel)]="pageSize">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="{{filteredLectures.length}}">All</option>
            </select>
    
        </div>
    </div>
    <!-- end of pagination -->
</div>
<!-- modal popup -->
<ng-template #addProfModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isAddProf">Add Professor</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="isAddLec">Add Lecture</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-professor [modalReference]="modalReference" *ngIf="isAddProf"></app-add-professor>
        <app-add-lecture [modalReference]="modalReference" *ngIf="isAddLec"></app-add-lecture>
    </div>
</ng-template>
<!-- end of modal popup -->